extends layout

block content
  h1= title
  ol
    each record in records
      li
        a(href='view/' + record.id)
          = 'v' + record.version + '-' + record.platform + '-' + record.osarch + ' ' + record.ptype + ' ' + record.time.toLocaleString() + ' ' + record.sender.ip
